@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
body{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;   
       
}
 .bg{
    background-image: url(./assets/images/banner.png.png);
    height: 500px ;
    width: 900px;
    background-size:cover;

 }